a {
    text-decoration: none;
    color: white;
}

a:hover:not(.fa, .fab, .fas) {
    text-decoration: revert;
}

a.fa:hover, a.fab:hover, a.fas:hover {
    animation: trasparenza 1.5s linear 0s infinite;
}

body {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body > main, body > section {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

body > main {
    background-image: url("../uploads/code_mobile_op.jpg");
}

body > section#home {
    background-color: #0d1117;
}

div.container {
    position: relative;
    max-width: 500px;
    width: 90%;
    aspect-ratio: 1 / 1;
}

div.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

div#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: conic-gradient(black, darkblue , #560bad, black);
    border: 1px white solid;
    bottom: 25px;
    right: 25px;
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

div#nav i {
    font-size: 2rem;
}

.text {
    border-radius: 5px;
    border: 1px white solid;
    background-color: #0d1117;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

h1, h2, h3 {
    text-align: center;
}

h3 {
    padding: 0 5%;
}

header {
    margin-bottom: 4%;
}

html {
    scroll-behavior: smooth;
}

iframe {
    pointer-events: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: white;
    overflow: hidden;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 0.3;
}

li#github > div {
    display: none;
}

li#github > ul {
	height: 20px;
	margin: 16px;
}

li#github > ul > li:last-child {
    height: 0px;
    position: relative;
    left: 43%;
    bottom: 20px;
}

main > div {
    padding: 0 10px;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px white solid;
    margin: 10vw 5vw;
    border-radius: 5px;
}

main > div > header > picture {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

main > div > hr {
    width: 60%;
}

main > div > ul {
    width: 80%;
    margin: 3em 0 3em 10%;
    border: 1px white solid;
    border-radius: 6px;
}

main > div > ul > li {
    text-align: center;
}

main > div > ul > li:not(:first-child) {
    height: 20px;
	padding: 16px 0;
}

main > div > ul > li:not(:last-child) {
    border-bottom: 1px white solid;
}

picture#profile > img {
    border-radius: 100%;
    width: 10em;
}

section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#home > div {
    margin: 0 5%;
}

section#home > div a {
    text-decoration: revert;
}

section#home h2 {
    margin-top: 50px;
}

ul {
    padding: 0;
    list-style: none;
}

@media screen and (min-width:768px) {

    body {
        font-family: monospace, monospace;
    }

    body > main {
        background-image: url("../uploads/code.jpg");
    }

    div#nav {
        bottom: 50px;
        right: 50px;
        width: 100px;
    }

    main > div {
        padding: 10px;
        width: 50%;
        margin-left: 25%;
    }
    
}

@media screen and (min-width:1024px) {
}

@media screen and (min-width:1280px) {

    div.container:hover iframe {
        opacity: 0.3;
    }
      
    div.container:hover .middle {
        opacity: 1;
    }
    
    div.middle {
        transition: .5s ease;
        opacity: 0;
        text-align: center;
    }

    iframe {
        opacity: 1;
    }

    iframe:hover {
        opacity: 0.3;
    }

    main > div {
        width: 30%;
        margin-left: 35%;
    }
}

@keyframes zoom {
    to {
      transform: scale(1.2);
    }
}


@keyframes trasparenza {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}